
/* links */
a {  color:#0000FF;text-decoration: none; 
    }
a:visited { color:#990099;
            text-decoration: none;
            }
a:link { color:#0000CC;
         }
a:hover {color:black;/*background-color:#829FD9;*/
         text-decoration: underline;
}


/* bottom links */
a.bottom {  color:white;text-decoration: none; 
    }
a.bottom:visited { color:white;
            text-decoration: none;
            }
a.bottom:link { color:white;
         }
a.bottom:hover {color:white;/*background-color:#829FD9;*/
         text-decoration: underline;
}

.bottombar
{ 
  text-align:right;
  padding-right:10pt;
  }

/* body of windows */
#bodyid { 
          background-color:black;
          font-size:90%;
          margin: 0px;
          padding: 0px;
          }

/* main window main table */
#main_table { 
              width:100%;
              height:420pt;
              
              padding:0pt;
              margin:1pt;
              }

/* main window menu column*/
#main_menu_column{ 
                   border-right-style:solid;
                   border-right-width:1px;
                   border-right-color:#FFFFCC;
                   
                   border-top-style:solid;
                   border-top-width:1px;
                   border-top-color:#FFFFCC;
                   
                   background-color:#FFFFCC;
                   
                   width:113pt;
                   text-align:left;
                   vertical-align:baseline;
                 }

/* the main column of the pages */
#main_page_column{ 
                   border-left-style:groove;
                   border-left-width:2pt;
                   border-left-color:black;
                   
                   border-top-style:solid;
                   border-top-width:1px;
                   border-top-color:white;
                   
                   background-color:white;
                   
                   text-align:justify;
                   vertical-align: top;
                   
                   padding-left:20px;
                   padding-right:20px;
                   }

/* property of the links in the main menu */
.menudiv{ 
          /*border-left-style: groove;
          border-left-width: 1px;
          border-left-color: red;

          border-right-style: dotted;
          border-right-width: 1px;
          border-right-color: blue;*/

          margin-left:5pt;
          padding-left:4pt;

          margin-right:5pt;
          margin-top: 2px;
          }

/* the titles of the menu */
.titlemenu{ 
            text-align:left;
            font-weight:bold;
            margin-top: 5px;
            margin-bottom: 6px;
            padding-left:2px;
}

/* paragraph */
P{ 
   text-align:justify;
   text-indent:0pt;
   padding-left:10pt;
   margin-top:4pt;
   margin-bottom:4pt;
   }

/* ordoned_list */
LI{
   margin-left:10pt;
   margin-top:4pt;
   margin-bottom:4pt;
}

/* unordoned_list */
UL{
    padding-left:20pt;
}

/* news paragraph */
.news{ 
       font-size:100%;
       text-indent:14px;
       border-left:solid #811888 1px;
       padding:3px;
}

/* title of parts of the home page */
.title{ 
        border-bottom-style:dotted;
        border-bottom-width:1px;
        border-bottom-color:gray;
        width:150pt;
        
        font-size:120%;
        font-weight:bold;
        text-indent:14px;
        }

/* the download table on the main page */
.downloadtable{ 
/*                border-style:groove;
                border-width:1px;
                border-color:#0011DD;*/
                }

/* cell of the download table */
.dtablecell{ 
             border-style:dotted;
             border-width:1px;
             border-color:black;
             padding-right:5pt;
             padding-left:5pt;
             padding-top:7pt;
             padding-bottom:7pt;
 }

/* main cells of the download table */
.dtablecell1{ 
              border-style:dotted;
             border-width:1px;
             border-color:red;
             padding:5pt;
 }

/* the title of the page */
.pagetitle{ 
            padding:0pt;
            margin:5pt;
 }

/* indented div */
.indentdiv{ 
            text-indent:25pt;
            }

/* features div */
.featdiv{ 
          padding-left:20pt;
          color:#00606B;
          text-decoration:underline;
          font-style:italic;
          }

/* color span */
.colorspan{ 
            color:#00505A;
            font-style:italic;
          }

/* li about feature */
.lifeatures{ 
             color:black;
             }

.yes
{ 
  font-weight:bold;
  color:green;
 }

.no
{ 
  font-weight:bold;
  color:red;
 }

.section
{
  font-weight:bold;
  margin-top:10pt;
  margin-bottom:5pt;
  margin-left:10pt;
 }

PRE{ 
     padding-left:15pt;
 }

CODE{ 
     padding-left:15pt;
 }

/* main page download table */
.mainpagedownloadtable
{ 
  margin-left:10pt;
  margin-right:10pt;
  border: none;
  caption-side:bottom;
  border-collapse:collapse;
}

.mainpagedownloadtd
{ 
  border: thin dotted gray;
  padding:5pt;
 }